*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.main-body{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 1;
    margin: 0 auto;
}
header{
    background-color: white;
    width: 100%;
    height: 20%;
    max-height: 100%;
    padding: 40px;
    padding-bottom: 60px;
    z-index: 1;
    margin-top: 20px;
}
nav{
    justify-self: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-start;
    
}
nav a {
    padding: 20px;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    background-color: #fcd975;
   
}
nav a:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
 }
 .logo {
    width: 10%;
    height: 20vh;
    max-height: 100%;
    padding: 20px;
    margin-top: 60px;
    padding: 50px;
 }
 .ad {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 40%;
 }
 .ad1{
    width: 100%;
    max-width: 100%;
    height: 14vh;
    max-height: 100%;
    object-fit: cover;
 }
 .filter{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-self: center;
    padding-top: 20px;
 }
 .title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    margin-top: 10px;
 }

 .Menu-cat{
    width: 80%;
    height: auto;
    max-width: 100%;
    padding: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
 }
 .dishes {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 60px;
 }
 .tab1{
    width: 100%;
    height: 55vh;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
    min-height: 60px;
 }
 .card-img{
    width: 70%;
    height: 30vh;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    object-fit: contain;
    margin: 0 auto;
}

.order2{
    justify-self: center;
    font-size: 1.3em;
    color: #f4b50a;
    margin-top: -10px;
}
.btn1{
    padding: 20px;
    text-decoration: none;
    color: white ;
    border-radius: 30px;
    background-color: black;
}
.btn1:hover{
    color: black ;
    background-color: #fcd975;
}
.container4{
    margin-top: 35px;
}
.descript{
    color: rgb(167, 167, 167);
}
.price{
    font-size: 1.4em;
    color: rgb(167, 167, 167);
    margin-top: 10px;
}
.btn2{
    padding: 10px;
    text-decoration: none;
    color: white ;
    border-radius: 30px;
    background-color: black;
}
.btn2:hover{
    color: black ;
    background-color: #fcd975;
}
.dishes1{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 60px;
}
@media (max-width: 800px) {
    .filter {
        display: flex;
        flex-direction: column;
    }
    .dishes {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        padding-bottom: 40px;
        padding-top: 60px;
     }
     .tab1{
        width: 100%;
        max-width: 100%;
        height: 55vh;
        padding: 20px;
        background-color: white;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-align: center;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
        min-height: 60px;
     }
     .dishes1{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        padding-bottom: 40px;
        padding-top: 60px;
     }
     .group {
        display: flex;
            flex-direction: column;
     }
     .next-cont{
         margin-left: -200px;
     }
}
.ad2{
    width: 70%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    height: 14vh;
    max-height: 100%;
    object-fit: cover;
}
.contact3 {
    font-size: 2.9em;  
    justify-self: center;
    font-family: cursive;
    padding-bottom: 5px;
    padding-top: 20px;;

}
.contain1{
    width: 100%;
    max-width: 100%;
    height: 33vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
  
}
.contact2 {
    width: 100%;
    text-align: center;
    justify-self: center;
    font-family: cursive;
    padding: 10px;
    font-size: 1em;
    color: rgb(83, 81, 81);
}

.miform {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0 auto;
    margin-top: -10vh;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}
.first {
    padding: 20px;
}
.second{
    padding: 20px;
}
.third {
    padding: 20px;
}
.fourth{
    padding: 20px;
    margin-top: -10px;
}
.fifth{
    padding: 20px;
}
.input{
    width: 50vh;
    height: 5vh;
    max-width: 50vh;
    border-radius: 20px;
    border: 1px black solid;
}
.message{
    width: 100%;
    height: 30vh;
}
.drop{
    font-family: 'Courier New', Courier, monospace;
    width: 50vh;
    padding: 5px;
    height: 7vh;
 
}
.btn3{
        padding: 20px;
        width: 70%;
        display: grid;
    place-items: center;
    margin: 0 auto;
        text-decoration: none;
        color: white ;
        border-radius: 30px;
        background-color: black;
    }
    .btn3:hover{
        color: black ;
        background-color: #fcd975;
    }

.box4 {
    width: 100%;
    height: auto;
    background-color: transparent;
   
}
.group {
    display: flex;
    gap: 150px;
    flex-direction: row;
    padding: 20px;
}
.contac{
    color: whitesmoke;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding-left: 40px;
}
.ic {
    width: 5%;
    height: 4vh;
    margin-left: 40px;
    margin-top: 8px;

}
.addr-img{
    width: 12%;
    height: 10vh;
    margin-left: 40px;
    margin-top: 100px;
}
.addr{
    font-size: 12px;
    font-family: 'Courier New', Courier;
    color: rgb(167, 167, 167);;
    margin-left: 40px;
    margin-top: 10px;

}
.txt1{
    margin-left: 80px;
    color: rgb(167, 167, 167);
    font-family: monospace;
    margin-top: -20px;
    font-size: 12px;
}
.social-icons{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.social {
    width: 5%;
    height: 3vh;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.social:hover{
    transform: scale(1.1)
}

.next-line{
    color: whitesmoke;
    margin-left: 70px;
}
.next-line li{
    list-style: none;
    line-height: 30px;
    font-size: 14px;
}
.next-line li a {
    text-decoration: none;
    color:rgb(167, 167, 167);
}
.next-line li a:hover {
    color:#fcd975;
}


