*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow-x: hidden;
}
#head {
    width: 100%;
    height: 86vh;
}
#head img{
    position: absolute;
    top: 0;
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow-x: hidden;
}
.gradient{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(to top, black, transparent);
    position:absolute;
    top:0;
    left:0;
    object-fit: cover;
    opacity: 0.7;
    z-index: 1;
}
.head img.active{
    #background-images img.active {
        opacity: 1;
        background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    }
}

@keyframes sliding {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}
.text {
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-size: 16px;
}
.logo{
    width: auto;
    height: 90vh;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: auto;
}
.btn {
    width: auto;
    height: auto;
    background-color: transparent;
    border: white 1px solid;
    padding: 12px 25px;
    font-size: 24px;
    border-radius: 30px;
    text-decoration: none;
    font-family: cursive;
    color: white;
    transition: all 0.3s ease;
    min-width: 120px;
    
}
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7rem;
}
.btn:hover {
   background-color: #fcd975;
   color: black;
   transform: scale(1.05);
  
}
.image {
    width: 7.65%;
    height: 10vh;
    margin-top: 80px;
    border: 2px solid #fcd975;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
}
.icons {
    width: 100%;
    height: 30vh;
    margin-top: 150px;
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;

}
@media (max-width: 800px) {
    .icons {
        display: flex;
        flex: 1 1 calc(33.333% - 20px);
        flex-wrap: wrap;
        float: left;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        width: auto;
        height: 30vh;
        padding-bottom: 10vh;
    }
    .image {
        width: 8%;
    height: 10vh;
    margin-top: 60px;
    border: 2px solid #fcd975;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    cursor: pointer;
    max-height: 100%

    }
    .image:hover {
        transform: scale(1.1)
    }

}
.image:hover {
    transform: scale(1.1)
}
#image1{
    transition: background-image 0.5s ease-in-out;
}
#image:hover:hover {
    background-image: url('/Users/nwakwokejuliet/Downloads/cake.png');
}
.container2 {
    width: 100%;
    height: 150vh;
    background: rgba(255, 255, 255, 0);
}

.except-menu{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    justify-self: center;
    /*padding: 40px;*/
    margin-top: 100px;
    max-width: 100%;
    max-height: 100%;

}
@media (max-width: 800px) {
    .container2{
        max-height: 100%;
        height: 50%;
    }
    .container-menu{
        margin-top: 100px;
        width: auto;
        position: relative;
        display: block;
        justify-self: center;
        align-items: center;

    }
    .except-menu{
       font-size: auto;
        margin-top: 100px;
        width: auto;
        position: relative;
        padding-top: 20px;
        justify-self: center;
}
}
.cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
}
@media (max-width: 800px) {
    .cont{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit (250px, 1fr));
        width: 100%;
        margin: 0;
       
    }
    .card1{
        width: 100%;
        min-width: 70%;
        min-height: 300px;
        background-color: #fcd6c5;
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        max-width: 400%;
    }
    .arrow1{
        display: none;
    }
    .arrow-con{
        display: none;
    }
    .arrow-con1{
        display: none;
    }
    .card-img{
        width: auto;
        height: auto;
        border-radius: 20px;
        display: block;
        justify-content: center;
        align-self: center;
        object-fit: contain;
        margin: 0 auto;
        max-width: 100%;
    }

    .card2 {
        width: 100%;
        min-width: 70%;
        min-height: 300px;
        background-color: #fcd6c5;
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
        max-width: 400%;
    }
    .card3{
        width: 100%;
        min-width: 70%;
        min-height: 300px;
        background-color: #fcd6c5;
        display: block;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 10px;
        max-width: 400%;
        margin-left: 12%;
        margin-top: -35%;
        
    }
}
.card1{
    width: 27%;
    height: 50vh;
    padding: 10px;
    background-color: #fcd6c5;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    margin-left: 50px;
    border-radius: 10px;
}
.card1:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
.card-img{
    width: 70%;
    height: 30vh;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    object-fit: contain;
    margin-left: 40px;
}
.order1{
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    justify-self: center;
    align-items: center;
    font-family: cursive;
}
.order2{
        font-weight: bold;
        font-size: 24px;
        margin-top: -10px;
        justify-self: center;
        align-items: center;
        font-family: cursive;
}
.order3{
    font-weight: bold;
    font-size: 24px;
    margin-top: -20px;
    justify-self: center;
    align-items: center;
    font-family: cursive;
}

.btn1{
    width: 40%;
    height: 30vh;
    background-color:#fcd975;
    border: white 1px solid;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-family: cursive;
}
.btn2{
    width: 40%;
    height: 30vh;
    background-color:#fcd6c5;
    border: white 1px solid;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    font-family: cursive;
    color: black;
    font-family: cursive;

}
.btn2:hover{
    background-color: white;
}
.container4{
   justify-self: center;
   margin-top: 30px;
}
.price {
    justify-self: center;
    font-size: 20px;
    color: rgb(162, 161, 161);
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn1:hover{
    background-color: white;

}
.arrow1{
    width: 100%;
    height: 20vh;
}
.arrow-con{
    margin-top: 400px;
    margin-right: 70px;
    width: 5%;
    height: 30vh;
}
.discount{
    justify-self: center;
    margin-top: 15px;
}

.card-img1{
    width: 70%;
    height: 30vh;
    border-radius: 20px;
    justify-content: center;
    align-self: center;
    object-fit: contain;
    margin-left: 45px;
    margin-top: 20px;
}
.card2 {
    width: 40%;
    height: 60vh;
    padding: 10px;
    background-color: #fcd975;
    align-items: center;
    margin-top: 180px;
    justify-content: center;
    margin-left: -20px;
    border-radius: 10px;
    max-width: 100%;

}
.card2:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
.card3{
    width: 35%;
    height: 50vh;
    padding: 10px;
    background-color: #fcd6c5;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    margin-left: -10px;
    border-radius: 10px;
}
.card3:hover{
    background-color: whitesmoke;
    transform: scale(1.1);
}
.descript{
    font-size: 1.2em;
    justify-self: center;
    font-family: monospace;
    color: rgba(0,0,0,0.5);
    padding: 10px;
}
.arrow-con1{
    margin-top: 400px;
    margin-left: 40px;
    width: 5%;
    height: 30vh;
}
.card-cont{
   width: 80%;
   display: flex;
   flex-direction: row;
   max-width: 100%;
}
@media (max-width: 800px) {
    .card-cont{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        min-width: 70%;
        margin-left: 12%;
        margin-top: -35%;
        
    }
}
.box1 {
    width: 100%;
    height: 70vh;
    background-color:  rgb(249, 247, 245);
}
.delivery{
    width: 10%;
    align-items: center;
    height: 20vh;
    margin-left: 35rem;
    margin-top: 7rem;
}
.delivery2{
    width: 20%;
    align-items: center;
    height: 30vh;
    margin-left: 32rem;
    margin-top: 2rem;
}
@media (max-width: 800px) {
    .delivery {
        margin: 0 auto;
        width: auto;
        height: auto;
        margin-left: 6rem;
        margin-top: 3rem;
        max-width: 40%;
        position: relative;
    }
    .under{
        display: none;
    }
    .delivery2{
        width: auto;
        height: auto;
        align-items: center;
        height: 30vh;
        margin-left: 6rem;
        margin-top: 3rem;
        max-width: 40%;
    }
    .under2{
        width: auto;
        align-items: center;
        height: auto;
        margin-left: 6rem;
        margin-top: -8rem;
        position: relative;
        max-width: 40%;
    }
    .box2{
        display: block;
    }
    .box5{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        gap: none;
        padding-bottom: 30px;
        padding-top: 30px;
    
    }
    .img-box{
       display: none;
    }
    .crown{
       display: none;
}
.textbox{
    width: 50%;
    height: 100vh;
    margin-top: -20px;
    padding-right: 20px;

}
.btn3{
    width: 100%;
    padding: 9rem;
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    min-width: 20%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.btn3-c{
    margin-left: -200px;
}
.group {
   display: flex;
       flex-direction: column;
}
.next-cont{
    margin-left: -200px;
}
.like{
    margin-left: -30px;
    font-size: 1.9em;
}
}
.under{
    width: 10%;
    align-items: center;
    height: 20vh;
    margin-left: 35rem;
    margin-top: -5rem;
    position: relative;
}
.under2{
    width: 10%;
    align-items: center;
    height: 20vh;
    margin-left: 35rem;
    margin-top: -40rem;
    position: relative;
}
.under3{
    width: 5%;
    justify-items: center;
    margin-left: -90px;
}
.Comment{
    font-size: 26px;
    color: #101010;
    font-family: cursive;
    justify-self: center;
    font-weight: bold;
}
.Comment2{
    font-size: 26px;
    color: whitesmoke;
    font-family: cursive;
   justify-self: center;
    font-weight: bold;
    margin-top: 2rem;
}
.Comment3{
    font-size: 26px;
    color: #101010;
    font-family: cursive;
   justify-self: center;
    font-weight: bold;
}
.under1{
    width: 5%;
    justify-items: center;
    margin-left: -90px;
}
.under3{
    width: 10%;
    align-items: center;
    height: 20vh;
    margin-left: 35rem;
    margin-top: -3rem;
    position: relative;
}
.box2 {
    width: 100%;
    height: 70vh;
    background-color: black;
}
.box3 {
    width: 100%;
    height: 70vh;
    background-color: rgb(249, 247, 245);
}
.box4 {
    width: 100%;
    height: 70vh;
    background-color: transparent;
   
}
.box5{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: none;
    padding-bottom: 30px;
    padding-top: 30px;

}
.img-box{
    width: 50%;
    height: 94.5vh;
    padding: 20px;
    
}
.profile{
    object-fit: cover;
    width:fit-content;
    height: 50vh;
}
.textbox{
    width: 50%;
    height: 100vh;
    padding: 20px;
    
}
.crown{
    width: 30%;
    height: 25vh;
    margin-left: 9rem;
    padding: 60px;
   
}
.dine{
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    color: #101010;
    padding: 2rem;
    justify-self: center;
    margin-top: 1rem;
}
.line{
    width: 15%;
    margin-left: -12.4rem;
    margin-bottom: 2rem;

}
.btn3{
    width: 10%;
    padding: 2rem;
    color: white;
    background-color: black;
    text-decoration: none;
    margin-left: 14rem;
    margin-bottom: -8rem;
    transition: all 0.3s ease;
}
.btn3:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: scale(1.05)
}
.like{
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    color: #101010;
    padding: 2rem;
    justify-self: center;
    margin-top: 1rem;
}
.group {
    display: flex;
    gap: 150px;
    flex-direction: row;
    padding: 20px;
}
.contac{
    color: whitesmoke;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding-left: 40px;
}
.ic {
    width: 5%;
    height: 4vh;
    margin-left: 40px;
    margin-top: 8px;

}
.addr-img{
    width: 12%;
    height: 10vh;
    margin-left: 40px;
    margin-top: 100px;
}
.addr{
    font-size: 12px;
    font-family: 'Courier New', Courier;
    color: rgb(167, 167, 167);;
    margin-left: 40px;
    margin-top: 10px;

}
.txt1{
    margin-left: 80px;
    color: rgb(167, 167, 167);
    font-family: monospace;
    margin-top: -20px;
    font-size: 12px;
}
.social-icons{
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.social {
    width: 5%;
    height: 3vh;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
}
.social:hover{
    transform: scale(1.1)
}

.next-line{
    color: whitesmoke;
    margin-left: 70px;
}
.next-line li{
    list-style: none;
    line-height: 30px;
    font-size: 14px;
}
.next-line li a {
    text-decoration: none;
    color:rgb(167, 167, 167);
}
.next-line li a:hover {
    color:#fcd975;
}





